<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Course Management System{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="/css/base.css">
        {% endblock %}
    </head>
    <body>
        <div class="main-container">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
